/* *{
    background-color: lightgray;
}

td{
    width: 45px;
    height: 45px;
    border: 1px solid black;
}

.container{
    justify-content: center;
}

.color1{
    background-color: red;
}

.color2{
    background-color: rgba(15, 14, 14, 0.781);
} */